* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height:100%
}

#bg {
	height: 100%;
	background: linear-gradient(135deg, #7868E6, #EDEEF7);
	background-size: cover;
}

/* ----------navbar------------ */

.navbar {
	height: 12vh;
	/* display: inline-block; */
	display: flex;
	flex-direction: row;
	/* border: black solid; */
	align-items: space-between;
	justify-content: space-between;
}

.brand {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 4.5vw;
	/* border: #1C2fd1 solid; */

}

.brand a {
	padding: 0vh 2vw 0 2vw;
	font-size: 3.7vw;
	font-family: 'Bree Serif', serif;
	color: white;
	text-shadow: 0 0 10px white;
	text-decoration:none;
	/* border: #1C2fd1 solid; */
}

.hamburger {
	display: none;
}

.options {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	/* width: 98vw; */
	border: 0;
	/* border: gold solid; */
}

.options ul {
	display: flex;
	flex-flow: row nowrap;
	/* float: right; */
	/* border: #1C2fd1 solid; */
}

.options li {
	display: inline-block;
	margin: 2vh 3px 2vh 0;
	font-family: 'Mina', serif;
	/* border: #1C2fd1 solid; */
}

.options li a:link {
	padding:5px;
	font-size: 1.6vw;
	text-decoration:none;
	color: white;
	margin-left: 10px;
	margin-right: 10px;

	/* border: red solid; */

}

@media screen and (max-width: 768px) {
	#bg {
		position: relative;
	}
	
	.navbar {
		/* position: relative; */
		transition: all 1s ease-out;
		position: fixed;
		width: 100vw;
		height: 12vh;
	}
	
	.navbar.purple {
		background-color: #7868E6;
		/* text-align: center; */
	}

	.navbar.black {
		background-color: #7868E6;
	}


	.options {
		/* display: none; */
		flex-flow: column nowrap;
		justify-content: center;
		position: fixed;
		background: #7868E6;
		height: 100vh;
		width: 100vw;
		clip-path: circle(100px at 90% -20%);
		-webkit-clip-path: circle(100px at 90% -20%);
		/* transform: translateX(-40%) */
		transition: all 1s ease-out;
	}
	
	.options.open {
		clip-path: circle(110vh at 50% -20%);
		-webkit-clip-path: circle(110vh at 50% -20%);
	}

	.brand {
		/* border: #1C2fd1 solid; */
		/* background-color: #6babb6; */

		display: flex;
		flex-direction: column;

		transition: all 1s ease-in-out;
		-webkit-transition: all 1s ease-in-out;
		z-index: 2;
	}
	
	.brand.brandOpen {
		/* border: red solid; */
		transform: translateX(32vw);
		-webkit-transform: translateX(32vw);
	}

	.brand a{
		/* height: 40vh; */
		font-size: 10vw;
		/* border: #e4fbff; */
		/* z-index: 2; */
	}

	.hamburger {
		position: absolute;
		display: block;

		/* background-color: #e4fbff; */
		/* width: 5px;
		height: 5px; */
		
		cursor: pointer;
		right: 5%;
		top: 20%;
		/* transform: translate(-5%, -50%); */
		z-index: 3;
	}

	.line {
		width: 30px;
		height: 4px;
		border-radius: 5px;
		background-color: black;
		margin: 4.5px;
	}

	.line.whiteLine {
		background-color: white;	
	}

	/* navlinks */
	.options ul {
		flex-flow: column;
		height: 80vh;
		width:50vw;
		text-align: center;
	}

	.options li a:link {
		color: white;
		font-size: 4vw;
	}
}

/* ------Main Div Starts From here--------- */
.main {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	align-items: center;
	/* justify-content: center; */
}

/* ------headings start--------- */
.topHeading {
	/* height: 20vh; */
	text-align: center;
	margin: 10vh;
	/* border: #000000 solid; */
}

.topHeading h1 {
	font-size: 8vh;
	color: #592FCE;
	font-family: 'Amaranth',sans-serif;
}
.topHeading h2 {
	font-size: 4vh;
	color: #fff;
	font-family: 'Cairo',sans-serif;
}

/* ------form area Starts--------- */
.formArea {
	display: flex;
	flex-flow: row nowrap;
	/* align-content:center; */
	align-items: center;
	justify-content: space-around;
	/* border: black solid; */
}

.formArea .topImg {
	width: 50vw;
	/* border: #592FCE solid; */
}
.formArea .topImg img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: auto;
}

.formArea .formfields {
	position: relative;
	/* width: 50%; */
	/* border: #592FCE solid; */
}

.formfields form {
	display: flex;
	flex-flow: column nowrap;
	/* align-content:center; */
	align-items: center;
	/* justify-content: space-around; */
	/* border: red solid; */
}

.formfields input {
	height: 42px;
	width: 30vw;
	border-radius: 10px;
	border: none;
	margin: 8px 5vw 20px 5vw;
}

.formfields input::placeholder {
	color: grey;
	padding-left:15px;
}

.formfields button:nth-child(odd) {
	height: 42px;
	width: 30vw;
	border: none;
	border-radius: 10px;
	margin: 8px 5vw 20px 5vw;
	background-color: #7868E6;
	color: #fff;
	font-size: 2.5vh;
}

.formfields button:nth-child(even) {
	height: 42px;
	width: 15vw;
	border-radius: 10px;
	background-color: #7868E6;
	color: #fff;
	font-size: 3.5vh;
	margin: 4px 0 20px 0;
	border: none;
	/* padding:2px 0; */
}

.inRow {
	display: flex;
	flex-flow: row nowrap;
	/* align-content:center; */
	align-items: center;
	justify-content: center;
}

.inRow input {
	margin-left: 1vw;
	margin-right: 1vw;
	width: 14vw;
}

@media screen and (max-width:768px) {
	.formArea {
		flex-flow: column nowrap;
	}

	.formArea .topImg {
		width: 80vw;
		margin: 20px 20px;
	}

	.formArea .topImg img {
		max-width: 90%;
		margin: 10px 10px 20px 10px;

	}

	.formfields {
		width: 100%;
	}

	.formfields input {
		width: 80vw;
		/* border: #592FCE solid; */
	}

	.formfields button:nth-child(odd) {
		width: 80vw;
	}

	.formfields button:nth-child(even) {
		width: 30vw;
	}

	.inRow input {
		width: 39vw;
	}

	.qrhead h1{
		font-size: 1vw;
	}
}

/* ------QR Code Section--------- */
.qrhead h1{
	font-size: 3.5vw;
}

.qrFrame {
	width: 70%;
	/* height: 50vh; */
	background-color: #7868E6;
	margin: 20px 0 20vh 0;
	border-radius: 25px;

	display: flex;
	flex-flow: column nowrap;
	/* align-content:space-around; */
	align-items: center;
	/* justify-content: center; */

}

.qrcode {
	max-width: 500px;
	max-height: 500px;
	margin: 20px 0 10px 0;
	border-radius: 5px;
	background-color: antiquewhite;
	background: linear-gradient(#fff,#000);
}

.status {
	width: 40px;
	height: 40px;
	margin: 5px 0 10px 0;
	background-color: #fff;
}

/* png download button */
.dwnPNG {
	display: flex;
	flex-flow: row nowrap;
	/* align-items: center; */
	/* justify-content: space-around; */
	font-size: 2rem;
	border: none;
	background-color: #B8B5FF;
	margin: 10px 0 20px 0;
	padding: 15px 55px;
	border-radius: 10px;
	/* border: #000 solid; */
}

.dwnPNG p {
	font-family: 'Asap Condensed',sans-serif;
	text-align: center;
}

/* ------footer--------- */
.foot {
	background-color: #7868E6;
	height: 10vh;
	width: 100%;
}